.header {
width: 92.5%;
display: flex;
justify-content: space-between;
font-family: "Inter";
}


@media screen and (max-width:1024px) {
  .header {
    width: 90.63%;
  }
  
}

@media screen and (max-width:768px) {
  .header {
      width: 93.75%;
  }
  
}

@media screen and (max-width:320px) {
  .header {
    width: 90%;
  }
}
 