.page__intro {
  margin-left: 11.56%;
}

@media screen and (max-width:1024px) {
  .page__intro {
  margin-left: 4.69%;
  }
}

@media screen and (max-width:768px) {
  .page__intro {
    margin-left: 3.13%;
  }
}

@media screen and (max-width:320px) {
  .page__intro {
    margin-left: 5%;
  }
}