.place__link {
  width: 456px;
  height: 22px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.22px;
/* identical to box height, or 122% */

text-decoration-line: underline;

color: #FFFFFF;
}