.lead__caption {
align-self: flex-start;
margin: 0;
width: 16.06%;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 1.4;
letter-spacing: 0.15em;
text-transform: uppercase;
white-space: nowrap;
color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
.lead__caption {
width: 17.03%;
}
}

@media screen and (max-width: 768px) {
.lead__caption {
width: 20.57%;
}
}

@media screen and (max-width: 320px) {
.lead__caption {
width: 49.38%;
}
}
  
