.place {
  width: 100%;

 display: grid;
 grid-template-columns: fit-content(460px) 40px fit-content(484px);
 grid-template-rows: repeat(2,minmax(min-content,max-content));
  padding-top: 80px;
}

.place:nth-of-type(1) {
  padding-top: 0;
}


@media screen and (max-width:1024px){
  .place {
    grid-template-columns: fit-content(440px) 32px fit-content(456px);
  }
}

@media screen and (max-width:768px){
  .place {
    grid-template-columns: fit-content(340px) 28px fit-content(352px);
    padding-top: 73px;
  }
}

@media screen and (max-width:430px){
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
}
