.footer {
width: 92.5%;
padding-top: 92px;
display: flex;
justify-content: space-between;
font-family: "Inter";
}

@media screen and (max-width: 1024px) {
  .footer {
  width: 90.63%;
  }
  
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
    padding-top: 88px;
  }
  
}

@media screen and (max-width: 320px) {
  .footer {
    align-self: flex-start;
    width: 58.13%;
    padding-top: 64px;
    flex-direction: column;

  }
  
}