.place__website {
  width: 94.21%;
  align-self: flex-end;
  margin-bottom: 48px;
  grid-column: 3/4;
  grid-row: 1/2;
}

@media screen and (max-width:1024px) {
  .place__website {
width: 100%;
  }
  
}



@media screen and (max-width:320px) {
  .place__website {
    order: -1;
    width: 90%;
    align-self: center;
    margin-bottom: 32px;
  }
  
}