.intro__title {
margin: 0;
width: 690px;
height: 58px;
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 1.07;
/* identical to box height, or 107% */
color: #FFFFFF;
padding-bottom: 40px;
}